html {
  margin: 0;
  padding: 0;
}
a:link { color: #2e00c4; text-decoration: none}
a:visited { color: #2e00c4; text-decoration: none}
a:hover { color: #2e00c4; text-decoration: none;}
a:active { color: #2e00c4; text-decoration: none}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 22fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"    
    "main main"
    "footer footer";
}
footer {
  padding-top: 3rem;
  padding-right: 20rem;
  padding-left: 20rem;
  grid-area: footer;
  grid-template-columns: 1fr 4fr 1fr;
  background-color:  #ebeced;
  text-align: center;
  font-size: 1rem;
	font-weight: 400;
	color: black;
	font-family: Arial;
	font-style: normal;
	line-height: 1.3rem;
}
header {
  padding: 1.3rem;
  grid-area: header;
  text-align: right;
  background:  #ff0000;
  color: black;
  font-family: Arial;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 900;
}

main {
  padding-top: 1rem;
  padding-right: 7rem;
  padding-left: 10rem;	
  grid-area: main;
  background: #ff0000;
  color:  #ebeced;
}
 div.b {
  padding-right: 7rem; 
  text-align: right;
  font-size: 2rem;
  font-weight: 900;
  color: black;
  font-family: Arial;
  font-style: italic;
  line-height: 1.3rem;
  word-spacing: normal;
    }


nav {
  grid-area: nav;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  text-align: center;
  background:  #ebeced;
  color: black;
  max-height: 100vh;
}
nav * {
  margin: 0;
  padding: 0.3rem;
  text-align: center;
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
}

/* This is whats needed */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

 .wrapper {
    display: grid;
    grid-template-columns: 245px 245px 245px;
    justify-content: center;
  }

#right { text-align: right; }

	
/* Based on Bootstrap, extra-small to small */
@media (min-width: 576px) {
  
}
/* Based on Bootstrap, small to medium */
@media (min-width: 768px) {
  body {
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main aside"
      "footer footer";
  }
  nav { flex-flow: row nowrap; }
  nav * {padding: 0.5rem;}
  nav a:not(.active),
  nav div.middle {display: block;}
  nav div.open-icon,
  nav span {display: none;}
}
/* Based on Bootstrap, medium to large */
@media (min-width: 992px) {
  
}
/* Based on Bootstrap, large to extra-large */
@media (min-width: 1200px) {
  
}
